<section class="mh-auto w-50">
<h1>Auth</h1>
<%= form_tag(action: "/auth/developer/callback", method: :get) do %>
  <label class="db mb-3">
    <input type="email" name="email" class="db pa-2 br-2 ba bc-black" autofocus>
    Email Address
  </label>
  <button class="db ph-4 pv-3 ba bc-gray-200 black bg-white-ish br-3">Log In</button>
<% end %>
</section>
