<header class="pa-4 bg-gray-200 gray-800">
  <h1 class="tc">Help &amp; Support</h1>
</header>
<section class="w-60-ns ph-3 ph-0-ns mh-auto">
  <a class="f-5-ns f-3 b ff-mono tc db mt-3 green-300" href="mailto:support@adrs.cloud">support@adrs.cloud</a>
  <p class="p mh-auto">
    <%= html_safe!(t(:support_message)) %>
  </p>
  <a class="db mt-4 blue-300 tc" href="<%= AdrsPage.routing %>">&larr; <%= t(:back) %></a>
</section>
