<header class="ph-3 mv-4">
  <h1 class="tc ma-0">ADRpg</h1>
  <h2 class="tc ma-0">Your one-stop shop for managing Architecture Decision Records</h2>
</header>
<main class="ph-3 mv-4">
  <h3 class="tc">
    <form action="/auth/developer" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= csrf_token %>">
      <button type="submit" class="ph-3 pv-2 ba br-3 shadow-1 bc-gray-600 bg-white black">Get Started Now!</button>
    </form>
  </h3>
</main>
<footer class="ph-3">
  <p class="lh-copy tc">Copyright © 2024 by Third Tank LLC, All Rights Reserved.</p>
</footer>
