# Never checkin tmp
/tmp
# This should never be checked in
/node_modules
# This contains generated code, so should not be checked in
/app/public/css
# This contains generated code, so should not be checked in
/app/public/js
# Don't want to check in the generated JSDocs dir
/jsdocs
# This is generated per environment
/app/config/asset_metadata.json
# Don't check in logs
/logs

# This contains actual secrets and should not be checked in
/.env.development.local
