<div class="w-100">
  <div class="<%= colors %> pv-2 ph-3 f-1 flex items-center gap-3">
    <span class="w-2 flex flex-column justify-center">
      <%= svg(icon) %>
    </span>
    <p class="p ma-0" role="<%= role %>">
      <%= text %>
    </p>
  </div>
</div>
