<label class="flex flex-column gap-1 w-100">
  <%= component(input_component) %>
  <div class="text-field-error-label">
    <brut-constraint-violation-messages>
    </brut-constraint-violation-messages>
    <% constraint_violations.map { |constraint| %>
      <% if !constraint.client_side? %>
        <%= constraint.to_s %> - <%= constraint.context %>
      <% end %>
    <% }.compact.join(", ") %>
  </div>
  <div class="text-field-label"><%= label %></div>
</label>
