<header>
  <h1 class="tc ma-0 mt-3 ttu tracked-tight f-7">ADRpg</h1>
  <h2 class="tc mt-0 f-5 fw-5">Log In</h2>
</header>
<section class="pa-3">
  <% if errors? %>
    <aside class="pa-2 br-3 ba bc-red-500 bg-red-800 red-300"><%= errors %></aside>
  <% end %>
  <form action="/auth/login" method="post"
    class="flex flex-column items-center gap-2 shadow-2-ns mh-auto pa-4-ns br-1 bg-white-ish-ns mw-8 w-100 w-70-m w-50-ns">
    <%= component(Components::TextField.new(label: "Email", input: input_component_for(content, :email, html_attributes: { autofocus: true, class: "text-field" }))) %>
    <%= component(Components::TextField.new(label: "Password", input: input_component_for(content, :password, html_input_type: "password", html_attributes: { class: "text-field" }))) %>
    <div class="mt-2">
      <%= component(Components::Button.new(color: "purple", label: "Log In", icon: "enter-icon")) %>
    </div>
  </form>
  <nav class="tc mv-4">
    <a class="        dib ph-3 pv-2 br-3 purple-400 hover-bg-purple-700" href="/auth/sign-up">Sign Up Instead</a>
    <a class="        dib ph-3 pv-2 br-3 purple-400 hover-bg-purple-700" href="/auth/forgot-password">Forgot Password</a>
  </nav>
</section>
