<header>
  <h1 class="tc ma-0 mt-3 ttu tracked-tight f-7">ADRpg</h1>
  <h2 class="tc mt-0 f-5 fw-5">Edit ADR</h2>
</header>
<section class="pa-3">
  <% if errors? %>
    <aside class="pa-2 w-50 mh-auto mv-3 br-3 ba bc-red-500 bg-red-800 red-300"><%= errors.join(",") %></aside>
  <% end %>
  <%= 
    component Components::Adrs::Form.new(
      adr,
      "Update Draft",
    ) 
  %>
</section>
