<header>
  <h1 class="tc ma-0 mt-3 ttu tracked-tight f-7">ADRpg</h1>
  <h2 class="tc mt-0 f-5 fw-5 lh-title">
    Replace ADR
    <small class="db f-3 fw-4">“<%= replaced_adr.title %>”</small>
  </h2>
</header>
<section class="pa-3">
  <%= 
    component Components::Adrs::Form.new(
      adr,
      "Draft Replacement",
    ) 
  %>
</section>
